.container {
  width: 100%;
  height: 100%;
  display: flex;
}

.spinner {
  margin: auto;
  width: 3rem;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid $primary;
  border-right-color: #0000;
  animation: rotate 1s infinite linear;
  align-self: center;
}

@keyframes rotate {
  to {
    transform: rotate(1turn);
  }
}
