$aligns: "left", "center", "right";

@each $position in $aligns {
  .navbar-#{$position} {
    justify-self: $position;

    @if $position == left {
      padding-right: 5rem;
    }

    @if $position == right {
      padding-left: 5rem;
    }
  }
}

.navList {
  list-style: none;
  padding-left: 0;
  display: flex;
  align-items: center;
  gap: 1.2rem;

  & li {
    border-bottom: 0.5px rgba(0, 0, 0, 0.3) solid;

    & a {
      font-size: $font-size-md;
      transition: $anim-fast;

      // temp
      color: black;
      text-decoration: none;
      //

      &:hover {
        color: $primary;
      }
    }
  }
}
