$aligns: "left", "center", "right";

@each $position in $aligns {
  .navbar-#{$position} {
    justify-self: $position;

    @if $position == left {
      padding-right: 5rem;
    }

    @if $position == right {
      padding-left: 5rem;
    }
  }
}

@mixin navList() {
  list-style: none;
  padding-left: 0;
  display: flex;
  align-items: center;
  
  a {
    font-size: $font-size-md;
    transition: $anim-fast;
    
    // temp
    color: black;
    text-decoration: none;
    //
  }
}

.navList-base {
  @include navList();
}

.navList-decorated {
  @include navList();
  
  li {
    border-bottom: 0.5px rgba(0, 0, 0, 0.3) solid;
  }
}

.navList-col {
  flex-direction: column;
  
  li {
    transition: $anim-fast;
    width: 100%;
  }
  
  li:hover {
    background: $secondary;
  }
  
  a {
    display: inline-block;
    width: 100%;
    padding: 0.5rem 1rem 0.5rem 1rem;
  }
}

.navList-row {
  gap: 1.2rem;
  flex-direction: row;

  a:hover {
    color: $primary;
  }
}
