@mixin container($gap, $font-size) {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: $gap;

  // temp
  color: black;
  text-decoration: none;
  //

  & div {
    font-family: $inter;
    font-size: $font-size;
  }
}

.container-md {
  @include container(0.3rem, $font-size-lg);
}

.container-sm {
  @include container(0.15rem, $font-size-sm);

  & img {
    width: 2.5rem;
    height: auto;
  }
}
