.wrapper {
  margin: 0 auto;
  padding: 0 1rem;
  flex-grow: 1;
  width: calc(100% - 2rem);
}

@include breakpoints($screen-md) {
  .wrapper {
    max-width: $screen-md;
  }
}

@include breakpoints($screen-lg) {
  .wrapper {
    max-width: $screen-lg;
  }
}

@include breakpoints($screen-xl) {
  .wrapper {
    max-width: $screen-xl;
  }
}
