@mixin icon($bgColor) {
  background: $bgColor;
  padding: 0.6rem 0.4rem 0.2rem 0.4rem;
  box-sizing: border-box;
  width: fit-content;
  height: fit-content;
}

.icon-primary {
  @include icon($primary);
}

.icon-secondary {
  @include icon($secondary);
}

.icon-rounded {
  border-radius: 50%;
}
